article{
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 800px;
    height: 550px;
    margin: auto;
}

.login{
    display: flex;
    padding: 40px;
    flex-direction: column;
    width: 40%;
    background-color: #68A797;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

.login img{
    width: 100px;
}

.p1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1 h1{
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

.p1 p{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

form input{
    display: flex;
    width: 360px;
    height: 45px;
    margin: 5px;
    border-radius: 10px;
    background-color: #E7E7E7;
    font-size: 14px;
    border: none;
    padding: 0 10px;
}

.login button{
    border: 1px solid white;
    height: 50px;
    width: 180px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
}

.login button:hover{
    background-color: #e7e7e76b;
    transition: 200ms;
}


.cadastro{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 430px;
    border-radius: 0 10px 10px 0;
}

.cadastro h2{
    color: #68A797;
    font-size: 1.5rem;
    font-weight: 800;

}

.cadastro button{
    border: none;
    height: 50px;
    width: 180px;
    background-color: #68A797;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 10px;
}

.cadastro button:hover{
    background-color: #e7e7e76b;
    color: black;
    transition: 200ms;
}