/* GERAL INICIO */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #76BFAC;
}

a{
    text-decoration: none;
}
/* GERAL FIM */



/* HEADER INICIO */
header{
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #68A797;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0.1px 3px rgba(0, 0, 0, 0.637);
}

header img{
    width: 100px;
    margin: 0 60px;
}

header .link{
    font-size: 18px;
    color: white;
    font-weight: 800;
    margin: 0 50px;
    padding: 10px;
    border-radius: 20px;
}

header .link:hover{
    background-color: #76BFAC;
    transition: 200ms;
}

/* HEADER FIM */

/* FOOTER INICIO */
footer{
    display: flex;
    background-color: #506175;
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer p{
    color: white;
}

footer a{
    color: #76BFAC;
    margin-left: 5px;
    font-weight: 700;
}
/* FOOTER FIM */